# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from Homework6_api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
Weather_info = pd.read_csv("Weather_cities.csv")
weather_data = pd.DataFrame(Weather_info)
weather_data= weather_data.drop(columns="Unnamed: 0")
weather_data

,City,Lat,Lng,Max_temp,Humidity,Cloudiness,Wind_speed,Country,Date
0,Barrow,71.29,-156.79,32.00,88,90,18.34,US,1591417254
1,Pitimbu,-7.47,-34.81,77.31,86,17,14.07,BR,1591417238
2,Mar del Plata,-38.00,-57.56,55.00,100,8,4.70,AR,1591417151
3,George Town,5.41,100.34,84.20,79,20,6.93,MY,1591417238
4,Cape Town,-33.93,18.42,53.60,100,20,1.12,ZA,1591416970
...,...,...,...,...,...,...,...,...,...
547,Karwar,14.80,74.13,82.92,77,27,6.46,IN,1591417398
548,Mandan,46.83,-100.89,64.99,59,1,9.17,US,1591417380
549,Kifrī,34.70,44.97,89.29,12,0,10.54,IQ,1591417398
550,Owase,34.07,136.20,78.62,60,100,4.25,JP,1591417398
551,Berezhany,49.45,24.93,58.96,93,100,5.28,UA,1591417228

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
locations = weather_data[["Lat", "Lng"]]
humid = weather_data["Humidity"].astype(float)

In [13]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
weather_data.count()

City          552
Lat           552
Lng           552
Max_temp      552
Humidity      552
Cloudiness    552
Wind_speed    552
Country       547
Date          552
dtype: int64

In [15]:
#I selected a wether interval
my_cities_filter1=weather_data.loc[weather_data["Max_temp"]<82]

In [16]:
my_cities_filter1=weather_data.loc[weather_data["Max_temp"]>64.4]
my_cities_filter1

,City,Lat,Lng,Max_temp,Humidity,Cloudiness,Wind_speed,Country,Date
1,Pitimbu,-7.47,-34.81,77.31,86,17,14.07,BR,1591417238
3,George Town,5.41,100.34,84.20,79,20,6.93,MY,1591417238
5,Clarence Town,-32.58,151.78,66.99,55,75,4.70,AU,1591417239
7,Popova,42.96,131.72,73.40,46,0,6.71,RU,1591417239
9,Albany,42.60,-73.97,72.00,78,86,2.68,US,1591417173
...,...,...,...,...,...,...,...,...,...
546,Nālūt,30.33,10.85,69.40,37,0,5.97,LY,1591417397
547,Karwar,14.80,74.13,82.92,77,27,6.46,IN,1591417398
548,Mandan,46.83,-100.89,64.99,59,1,9.17,US,1591417380
549,Kifrī,34.70,44.97,89.29,12,0,10.54,IQ,1591417398
550,Owase,34.07,136.20,78.62,60,100,4.25,JP,1591417398

In [17]:
my_cities_filter1.count()

City          332
Lat           332
Lng           332
Max_temp      332
Humidity      332
Cloudiness    332
Wind_speed    332
Country       331
Date          332
dtype: int64

In [18]:
#I selected a a max humidity level 
my_cities_filter2=my_cities_filter1.loc[weather_data["Humidity"]<40]
my_cities_filter2=my_cities_filter2.reset_index()
my_cities_filter2=my_cities_filter2.drop(columns="index")
my_cities_filter2.count()

City          46
Lat           46
Lng           46
Max_temp      46
Humidity      46
Cloudiness    46
Wind_speed    46
Country       45
Date          46
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:

my_cities=pd.DataFrame(my_cities_filter2)
#my_cities['Hotel_Name']= ""
my_cities

,City,Lat,Lng,Max_temp,Humidity,Cloudiness,Wind_speed,Country,Date
0,Sakakah,29.97,40.21,86.00,16,0,14.99,SA,1591417257
1,Kholodnyy,62.72,147.95,65.73,30,55,9.66,RU,1591417266
2,Piranshahr,36.70,45.14,65.55,27,29,2.13,IR,1591417271
3,Cherskiy,68.75,161.30,68.31,26,98,10.29,RU,1591417273
4,Port Hedland,-20.32,118.57,82.40,17,0,18.34,AU,1591417278
5,Bayan,46.08,127.40,82.00,30,94,6.24,CN,1591417280
6,Geraldton,-28.77,114.60,78.80,26,100,8.05,AU,1591417283
7,Tianpeng,30.99,103.94,91.99,1,94,1.01,CN,1591417285
8,Tessalit,20.20,1.01,91.22,17,0,13.76,ML,1591417288
9,Srednekolymsk,67.45,153.68,69.44,37,100,4.07,RU,1591417290
10,Winslow,35.02,-110.70,78.80,29,1,9.17,US,1591417294
11,Carnarvon,-24.87,113.63,78.69,28,0,4.65,AU,1591417042
12,Xinqing,48.23,129.50,74.70,34,100,5.73,CN,1591417302
13,Udachny,66.42,112.40,73.40,20,75,4.47,RU,1591417312
14,Saint George,37.10,-113.58,89.01,11,1,8.05,US,1591417314
15,Zaoyang,32.13,112.75,93.25,27,84,11.54,CN,1591417318
16,Kumul,42.80,93.45,77.90,29,90,14.14,CN,1591417328
17,Vanavara,60.34,102.28,65.89,34,0,4.65,RU,1591417329
18,Kununurra,-15.77,128.73,82.40,20,0,11.41,AU,1591417329
19,Fairbanks,64.84,-147.72,68.00,30,75,5.82,US,1591417331
20,Nizwá,22.93,57.53,101.41,15,0,6.06,OM,1591417334
21,Yinchuan,38.47,106.27,93.07,13,100,19.15,CN,1591417338
22,Zhigansk,66.77,123.37,65.61,27,61,2.35,RU,1591417340
23,Rio Rancho,35.23,-106.66,84.99,21,78,17.22,US,1591417225
24,Boralday,43.36,76.86,66.20,25,75,8.95,KZ,1591417345
25,Araouane,18.90,-3.53,95.74,16,0,16.69,ML,1591417346
26,Teya,60.38,92.63,66.87,33,12,1.95,RU,1591417347
27,Talaya,61.38,152.75,65.44,27,0,13.35,RU,1591417348
28,Hulan Ergi,47.20,123.63,81.03,31,100,18.77,CN,1591417355
29,Batagay,67.63,134.63,67.21,25,14,2.95,RU,1591417359
30,Durango,24.83,-104.83,73.31,30,0,7.78,MX,1591417292
31,Karratha,-20.74,116.85,79.14,21,0,13.06,AU,1591417369
32,Berdigestyakh,62.10,126.70,71.51,33,56,5.06,RU,1591417372
33,Yumen,40.28,97.20,78.10,27,92,20.22,CN,1591417375
34,Zeya,53.75,127.27,76.23,28,20,4.07,RU,1591417376
35,Zaranj,30.97,61.88,95.00,20,0,21.92,AF,1591417379
36,Arandis,-22.42,14.97,69.42,24,0,11.81,NaN,1591417380
37,Sivaki,52.63,126.75,73.85,37,91,4.47,RU,1591417381
38,Ukwā,21.97,80.47,91.81,35,2,5.21,IN,1591417387
39,Kutum,14.20,24.67,69.42,23,0,4.56,SD,1591417391
40,Verkhoyansk,67.54,133.38,66.69,27,5,2.30,RU,1591417392
41,Taoudenni,22.68,-3.98,93.18,22,0,29.55,ML,1591417393
42,Vorukh,39.85,70.58,73.80,30,0,6.46,TJ,1591417396
43,Loralai,30.37,68.60,85.15,14,0,15.39,PK,1591417396
44,Nālūt,30.33,10.85,69.40,37,0,5.97,LY,1591417397
45,Kifrī,34.70,44.97,89.29,12,0,10.54,IQ,1591417398

In [20]:
# Store into variable named hotels_df
hotels_list=[]
LAT=my_cities['Lat']
LNG=my_cities['Lng']
# Add a "Hotel Name" column to the DataFrame.
for i in range(len(my_cities)):
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    lat = my_cities.loc[i]['Lat']
    lng = my_cities.loc[i]['Lng']
    city_coords = f"{lat},{lng}"
    params = {"location": city_coords,"types": "lodging","radius": 50000,"key": g_key}
    hotel_request = requests.get(base_url, params=params)
    hotel_response = hotel_request.json()
    try:
        hotels_list.append(hotel_response["results"][0]["name"])
    except:
        hotels_list.append("Hotel not found")

In [21]:
hotels_list

['Fakhamat Al Orjoana Apartment',
 'Oao "Susumanzoloto"',
 'Ararat',
 'Gostinitsa',
 'The Esplanade Hotel',
 'Binzhou Hotel',
 'Broadwater Mariner Resort',
 'Crowne Plaza Chengdu City Center',
 'Hotel not found',
 'Hotel not found',
 'Best Western Plus Winslow Inn',
 'Hospitality Carnarvon',
 'Xinqing Hotel',
 'Udachny Hostel',
 'Best Western Plus Abbey Inn',
 'Chuxing Hotel',
 'Post And Telecommunication Hotel',
 'Church of Churches',
 'Hotel Kununurra',
 "Pike's Waterfront Lodge",
 'Golden Tulip Nizwa',
 'JJ Inns - Yinchuan New Moon Square Branch',
 'Gostinichnyy Kompleks Aylgy',
 'Albuquerque Marriott Pyramid North',
 'Holiday Inn Almaty',
 'Hotel not found',
 "Gostinyy Dvor Estel' Miniotel' V Severo-Yeniseyske",
 'Hotel not found',
 'Hutun Resort',
 'Hotel not found',
 'Hotel Las Águilas',
 'ibis Styles Karratha',
 'Hotel not found',
 '玉门宾馆',
 'Kapital Inn',
 'kolbe Arameshe Sistan Hostel (کلبه آرامش سیستان)',
 'Sophia Dale Base Camp',
 'Kafe Khutorok',
 'The Baagh',
 'Dibbo areaمنطقة دبو',
 'Hotel not found',
 'Hotel not found',
 'Kottedzh',
 'City Hotel. Loralai. Blochistan',
 'فندق القصر',
 'میزان کفری']

In [22]:
my_cities['Hotel_Name']= hotels_list
my_cities

,City,Lat,Lng,Max_temp,Humidity,Cloudiness,Wind_speed,Country,Date,Hotel_Name
0,Sakakah,29.97,40.21,86.00,16,0,14.99,SA,1591417257,Fakhamat Al Orjoana Apartment
1,Kholodnyy,62.72,147.95,65.73,30,55,9.66,RU,1591417266,"Oao ""Susumanzoloto"""
2,Piranshahr,36.70,45.14,65.55,27,29,2.13,IR,1591417271,Ararat
3,Cherskiy,68.75,161.30,68.31,26,98,10.29,RU,1591417273,Gostinitsa
4,Port Hedland,-20.32,118.57,82.40,17,0,18.34,AU,1591417278,The Esplanade Hotel
5,Bayan,46.08,127.40,82.00,30,94,6.24,CN,1591417280,Binzhou Hotel
6,Geraldton,-28.77,114.60,78.80,26,100,8.05,AU,1591417283,Broadwater Mariner Resort
7,Tianpeng,30.99,103.94,91.99,1,94,1.01,CN,1591417285,Crowne Plaza Chengdu City Center
8,Tessalit,20.20,1.01,91.22,17,0,13.76,ML,1591417288,Hotel not found
9,Srednekolymsk,67.45,153.68,69.44,37,100,4.07,RU,1591417290,Hotel not found
10,Winslow,35.02,-110.70,78.80,29,1,9.17,US,1591417294,Best Western Plus Winslow Inn
11,Carnarvon,-24.87,113.63,78.69,28,0,4.65,AU,1591417042,Hospitality Carnarvon
12,Xinqing,48.23,129.50,74.70,34,100,5.73,CN,1591417302,Xinqing Hotel
13,Udachny,66.42,112.40,73.40,20,75,4.47,RU,1591417312,Udachny Hostel
14,Saint George,37.10,-113.58,89.01,11,1,8.05,US,1591417314,Best Western Plus Abbey Inn
15,Zaoyang,32.13,112.75,93.25,27,84,11.54,CN,1591417318,Chuxing Hotel
16,Kumul,42.80,93.45,77.90,29,90,14.14,CN,1591417328,Post And Telecommunication Hotel
17,Vanavara,60.34,102.28,65.89,34,0,4.65,RU,1591417329,Church of Churches
18,Kununurra,-15.77,128.73,82.40,20,0,11.41,AU,1591417329,Hotel Kununurra
19,Fairbanks,64.84,-147.72,68.00,30,75,5.82,US,1591417331,Pike's Waterfront Lodge
20,Nizwá,22.93,57.53,101.41,15,0,6.06,OM,1591417334,Golden Tulip Nizwa
21,Yinchuan,38.47,106.27,93.07,13,100,19.15,CN,1591417338,JJ Inns - Yinchuan New Moon Square Branch
22,Zhigansk,66.77,123.37,65.61,27,61,2.35,RU,1591417340,Gostinichnyy Kompleks Aylgy
23,Rio Rancho,35.23,-106.66,84.99,21,78,17.22,US,1591417225,Albuquerque Marriott Pyramid North
24,Boralday,43.36,76.86,66.20,25,75,8.95,KZ,1591417345,Holiday Inn Almaty
25,Araouane,18.90,-3.53,95.74,16,0,16.69,ML,1591417346,Hotel not found
26,Teya,60.38,92.63,66.87,33,12,1.95,RU,1591417347,Gostinyy Dvor Estel' Miniotel' V Severo-Yenise...
27,Talaya,61.38,152.75,65.44,27,0,13.35,RU,1591417348,Hotel not found
28,Hulan Ergi,47.20,123.63,81.03,31,100,18.77,CN,1591417355,Hutun Resort
29,Batagay,67.63,134.63,67.21,25,14,2.95,RU,1591417359,Hotel not found
30,Durango,24.83,-104.83,73.31,30,0,7.78,MX,1591417292,Hotel Las Águilas
31,Karratha,-20.74,116.85,79.14,21,0,13.06,AU,1591417369,ibis Styles Karratha
32,Berdigestyakh,62.10,126.70,71.51,33,56,5.06,RU,1591417372,Hotel not found
33,Yumen,40.28,97.20,78.10,27,92,20.22,CN,1591417375,玉门宾馆
34,Zeya,53.75,127.27,76.23,28,20,4.07,RU,1591417376,Kapital Inn
35,Zaranj,30.97,61.88,95.00,20,0,21.92,AF,1591417379,kolbe Arameshe Sistan Hostel (کلبه آرامش سیستان)
36,Arandis,-22.42,14.97,69.42,24,0,11.81,NaN,1591417380,Sophia Dale Base Camp
37,Sivaki,52.63,126.75,73.85,37,91,4.47,RU,1591417381,Kafe Khutorok
38,Ukwā,21.97,80.47,91.81,35,2,5.21,IN,1591417387,The Baagh
39,Kutum,14.20,24.67,69.42,23,0,4.56,SD,1591417391,Dibbo areaمنطقة دبو
40,Verkhoyansk,67.54,133.38,66.69,27,5,2.30,RU,1591417392,Hotel not found
41,Taoudenni,22.68,-3.98,93.18,22,0,29.55,ML,1591417393,Hotel not found
42,Vorukh,39.85,70.58,73.80,30,0,6.46,TJ,1591417396,Kottedzh
43,Loralai,30.37,68.60,85.15,14,0,15.39,PK,1591417396,City Hotel. Loralai. Blochistan
44,Nālūt,30.33,10.85,69.40,37,0,5.97,LY,1591417397,فندق القصر
45,Kifrī,34.70,44.97,89.29,12,0,10.54,IQ,1591417398,میزان کفری

In [23]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [28]:
LAT=pd.DataFrame(my_cities['Lat'])
LAT["LNG"]=my_cities['Lng']
LAT

      Lat     LNG
0   29.97   40.21
1   62.72  147.95
2   36.70   45.14
3   68.75  161.30
4  -20.32  118.57
5   46.08  127.40
6  -28.77  114.60
7   30.99  103.94
8   20.20    1.01
9   67.45  153.68
10  35.02 -110.70
11 -24.87  113.63
12  48.23  129.50
13  66.42  112.40
14  37.10 -113.58
15  32.13  112.75
16  42.80   93.45
17  60.34  102.28
18 -15.77  128.73
19  64.84 -147.72
20  22.93   57.53
21  38.47  106.27
22  66.77  123.37
23  35.23 -106.66
24  43.36   76.86
25  18.90   -3.53
26  60.38   92.63
27  61.38  152.75
28  47.20  123.63
29  67.63  134.63
30  24.83 -104.83
31 -20.74  116.85
32  62.10  126.70
33  40.28   97.20
34  53.75  127.27
35  30.97   61.88
36 -22.42   14.97
37  52.63  126.75
38  21.97   80.47
39  14.20   24.67
40  67.54  133.38
41  22.68   -3.98
42  39.85   70.58
43  30.37   68.60
44  30.33   10.85
45  34.70   44.97

In [39]:
# Add marker layer ontop of heat map
gmaps.configure(api_key='AI...')

marker_locations = [(29.97,40.21),(62.72,147.95),(36.70,45.14),(68.75,161.30),(-20.32,118.57O),(46.08,127.40),(-28.77,114.60),(30.99,103.94),(20.20,1.01),(67.45,153.68),(35.02,-110.70),(-24.87,113.63),(48.23,129.50),(66.42,112.40),(37.10,-113.58),(32.13,112.75),(42.80,93.45),(60.34,102.28),(-15.77,128.73),(64.84,-147.72),(22.93,57.53),(38.47,106.27),(66.77,123.37),(35.23,-106.66),(43.36,76.86),(18.90,-3.53),(60.38,92.63),(61.38,152.75),(47.20,123.63),(67.63,134.63),(24.83,-104.83),(-20.74,116.85),(62.10,126.70),(40.28,97.20),(53.75,127.27),(30.97,61.88),(-22.42,14.97),(52.63,126.75),(21.97,80.47),(14.20,24.67),(67.54,133.38),(22.68,-3.98),(39.85,70.58),(30.37,68.60),(30.33,10.85),(34.70,44.97)]
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations)
fig.add_layer(markers)
fig

# Display figure

SyntaxError: invalid syntax (<ipython-input-39-6ef93bc47fc8>, line 4)